* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100dvh;
  background-color: #f0f2f5;
}

header {
  padding: 10px 30px;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

a{
    text-decoration: none;
    color: #2a46e6;
}

.anchor:hover {
    text-decoration: underline;
}

aside {
    display: none;
}

input, #btnCadastrar {
  width: 100%;
  padding: 0.8em;
  border-radius: 2em;
  background-color: #bac2e6;
  outline: 0;
  font-size: 1em;
}

input:focus {
  box-shadow: 0 0 6px #2a46e6;
}

.logo {
  height: 3em;
}

#labelMenu {
  background: none;
  border: none;
  cursor: pointer;
}

.menuNav {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding-left: 1.5em;
    padding-right: .2em;
}

.link {
    color: #2a46e6;
    font-weight: bold;
    padding: .5em;
    border-radius: 1em;
}

.link:hover {
    background-color: #979ec4;
    transition: 0.3s;
}

.principal {
  display: flex;
  flex-direction: row;
  min-height: calc(100dvh - 4rem); 
  background-color: #ffffff;
}

.container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background: linear-gradient(to top, #0c295e, #1b3d77, #486db3);
  border-top-left-radius: 1rem;
}

#text {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

#name {
  color: #2a46e6;
}

#login{
  font-size: 2rem;
  color: #2a46e6;
  padding-bottom: .2em;
  width: 100%;
  border-radius: 10px;
  border-bottom: 2px solid;
}

#btnCadastrar {
  background-color: #2a46e6;
  color: white;
  cursor: pointer;
}

#btnCadastrar:hover {
  background-color: #1a2c91;
  transition: 0.3s;
}

#menuCheck {
    display: none;
}

.tela_signUp {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: white;
        gap: 1.5em;
        width: 100%;
        max-width: 27em;
        box-shadow: 2px 2px 10px #131d55;
        border-radius: 1.5em;
}

.back_para_Aside {
    display: none;
    position: fixed;
    top: 4rem;
    left: 0;
    width: 100%;
    height: calc(100dvh - 4rem);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
}

@media screen and (min-width: 770px) {
    .tela_signUp {
        padding: 2em;
        font-size: 1em;
    }   
    .AsideDesktop {
        position: sticky;
        top: 4rem;
        height: calc(100dvh - 4rem);
        width: 8em;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 1em 0;
    }
    .labelMenu {
        display: none;
    }
}

@media screen and (max-width: 769px) {
    #menuCheck:checked ~ .AsideMobile{
        display: flex;
        position: absolute;
        top: 4rem;
        left: 0;
        width: 100%;
        height: auto;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 9;
        flex-direction: column;
        padding: 1em 0;
        border: 1px solid #ccc;
    }

    #menuCheck:checked ~ .back_para_Aside{
        display: block;
    }

    .container {
            padding: 1em;
            border-top-left-radius: 0;
        }

    .tela_signUp {
            margin: 0;
            padding: 1.5em;
            font-size: 0.95em;
        }
}