h1{
    color: white;
}

button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10em;
    gap: 1em;
    padding: 1em;
    border-radius: 1em;
    background-color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    transform: translateY(-4px);
    transition: 0.3s ease;
}

.dados {
    display: flex;
    align-items: center;
    gap: 1em;
    color: #2a46e6;
    font-size: 1em;
}

#saldo {
    padding: .5em;
    background-color: #9de9c6;
    border-radius: 2em;
    color: #003f22;
    font-size: .9em;
}

.container4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2em;
  background: linear-gradient(to top, #0c295e, #1b3d77, #486db3);
  border-top-left-radius: 1rem;
}

.saldo_atual {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1em;
    gap: 1em;
    height: fit-content;
    width: 100%;
    border-radius: 1em;
}

.transacoes_recentes{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1.5em;
}

.transacoes{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.transacao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    gap: 0.5em;
    background-color: #4a63e7;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 1em;
    font-weight: bold;
    cursor: pointer;
}

#saldo2 {
    font-size: 1em;
    font-weight: bold;
    color: #136846;
}

.valor_negativo {
    font-size: 1em;
    font-weight: bold;
    color: rgba(175, 29, 29, 0.705);
}

.valor_positivo {
    font-size: 1em;
    font-weight: bold;
    color: #186d4b;
}

.icon_btn {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.botoes_acoes {
        display: flex;
        justify-content: space-around;
        gap: 1em;
}

@media screen and (min-width: 770px) {
    .container5 {
        display: flex;
        gap: 1.5em;
    }  
    
    button {
        justify-content: center;
    }

}

@media screen and (max-width: 769px) {
    .dados #userName {
        display: none;
        
    }

    .container5 {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }  

    .container4{
        padding: 1em;
    }

    button {
        height: 7em;
    }
}