a {
    color: blue;
}

a:hover {
    text-decoration: underline;
}

.transacao_entrada{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    gap: 0.5em;
    background-color: #25972b;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 1em;
    font-weight: bold;
    cursor: pointer;
}

.transacao_saida{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    gap: 0.5em;
    background-color: #9c1e1e;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 1em;
    font-weight: bold;
    cursor: pointer;
}