span{
    font-family: 'Arial', sans-serif;
    font-size: .8em;
    color: ##cbd3ff;
}

h3{
    color: #ffffff;
    font-weight: bold;
}

p{
    color: #e0e4ff;
}

.titulo {
    color: white;
    margin-bottom: .5em;
}

.titulo2 {
    color: #090f2c;
    margin-bottom: .5em;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.opcoes {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

.opcao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
    background-color: #4a63e7;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 1em;
    font-weight: bold;
    cursor: pointer;
}

.opcao:hover {
  background-color: #2b3ea8;
  transform: translateY(-4px);
  transition: 0.3s ease;
}

@media screen and (min-width: 770px) {
    .opcao {
        width: 15em;
        height: 13em;
        padding: 1em;
    }
}

@media screen and (max-width: 769px) {
    .opcao {
        width: 13em;
        height: 12em;
        padding: 1em .5em;
    }
}